In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r"C:/Users/Jorge/Desktop/Proyecto CDIA/Data/train.csv")
df.head()

,label,FP1-0,FP1-1,FP1-2,FP1-3,FP1-4,FP1-5,FP1-6,FP1-7,FP1-8,...,FP1-1014,FP1-1015,FP1-1016,FP1-1017,FP1-1018,FP1-1019,FP1-1020,FP1-1021,FP1-1022,FP1-1023
0,0,36,37,48,62,69,82,98,99,85,...,87,82,94,101,92,78,72,70,63,55
1,2,18,6,5,9,11,9,9,15,23,...,60,65,61,53,39,24,21,29,42,49
2,1,45,55,62,60,55,54,56,57,46,...,19,18,16,8,3,15,43,76,100,104
3,6,23,26,23,16,12,17,29,43,49,...,96,118,117,89,58,45,63,88,95,85
4,5,27,32,37,44,44,41,40,42,39,...,46,33,23,24,35,41,33,26,28,36

Comprobar que los datos esten nivelados

In [10]:
df['label'].value_counts(normalize=True) * 100

-1    18.779343
 5     8.232598
 7     8.208569
 8     8.199327
 0     8.177147
 2     8.156815
 1     8.129089
 6     8.095819
 9     8.058852
 3     8.007098
 4     7.955344
Name: label, dtype: float64

In [11]:
df.describe()

,label,FP1-0,FP1-1,FP1-2,FP1-3,FP1-4,FP1-5,FP1-6,FP1-7,FP1-8,...,FP1-1014,FP1-1015,FP1-1016,FP1-1017,FP1-1018,FP1-1019,FP1-1020,FP1-1021,FP1-1022,FP1-1023
count,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,...,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000,54102.000000
mean,3.468282,33.866308,33.816144,33.781228,33.784315,33.787549,33.802928,33.828121,33.844886,33.897934,...,33.938986,33.938949,33.970112,34.089424,34.214003,34.219400,34.102861,33.953347,33.943089,34.044305
std,3.366031,76.621799,76.477396,76.436913,76.344590,76.204281,76.151829,76.119590,76.160496,76.208828,...,78.150481,78.101178,77.829552,77.672802,77.681861,77.793755,77.702868,77.565001,77.449500,77.376004
min,-1.000000,-2036.000000,-2024.000000,-2013.000000,-2019.000000,-2023.000000,-2015.000000,-1999.000000,-1980.000000,-1964.000000,...,-1857.000000,-1880.000000,-1878.000000,-1874.000000,-1878.000000,-1869.000000,-1871.000000,-1911.000000,-1941.000000,-1986.000000
25%,0.000000,11.000000,11.000000,11.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,11.000000,11.000000
50%,3.000000,35.000000,35.000000,35.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,...,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
75%,6.000000,56.000000,56.000000,55.000000,55.000000,56.000000,56.000000,55.000000,56.000000,55.000000,...,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000
max,9.000000,1473.000000,1503.000000,1507.000000,1496.000000,1469.000000,1422.000000,1370.000000,1327.000000,1297.000000,...,1332.000000,1290.000000,1260.000000,1194.000000,1153.000000,1199.000000,1300.000000,1441.000000,1528.000000,1573.000000